*.o
*.a
*.d
*.i
*~
.swp
.*.swp
/.gdbinit
/cscope.*
/.config
/.config.old
/Make.defs
/mtower
/mtower.*
/mtower-*
*.map
*.elf
/*.srec
*.bin
/*.ihx
*.hex
/.cproject
/.project
/pcode
/tags
toolchain/
mtower_s.txt
mtower_ns.txt
