#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the docs folder of mTower repository.
#

choice
	prompt "MCU Family"
	default ARCH_FAMILY_MPS2

config ARCH_FAMILY_MPS2
	bool "MPS2"
	---help---
		The MPS2 architecture

endchoice

config ARCH_FAMILY
	string
	default "mps2"            if ARCH_FAMILY_MPS2

if ARCH_FAMILY_MPS2
comment "MPS2 Configuration Options"
source arch/cortex-m33/mps2/Kconfig
endif
