#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the docs folder of mTower repository.
#

if PLATFORM_M2351_BADGE
comment "M2351-Badge Peripheral Configuration Options"

endif # PLATFORM_M2351_BADGE


