#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the docs folder of mTower repository.
#

comment "Pseudo TAs:"

config APPS_HELLO_WORLD
	bool "Hello world example"
	default y
	---help---
		"Hello world example."

config APPS_TEMPLATE
	bool "Template example"
	default y
	---help---
		"Template example."

comment "User TAs:"

config APPS_AES
	bool "AES example"
	default y
	---help---
		"AES example."

config APPS_HOTP
	bool "HOTP example"
	default y
	---help---
		"HOTP example. HMAC based One Time Passwords or shortly just 'HOTP' has
		been around for many years and was initially defined in [RFC4226]."
