#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the docs folder of mTower repository.
#

if PLATFORM_NUMAKER_PFM_M2351
comment "NuMaker-PFM-M2351 Peripheral Configuration Options"

endif # PLATFORM_NUMAKER_PFM_M2351
