name: Build
on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [numaker_pfm_m2351, m2351_badge, mps2_an505_qemu]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Install extra tools
        run: |
          sudo apt-get update
          sudo apt-get install -y make build-essential libncurses5-dev libssl-dev libcurl4-openssl-dev
      - name: Build the project
        run: |
          make PLATFORM=${{ matrix.platform }} create_context
          make toolchain
          make