name: Create Release & Upload Asset

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  # Build mTower
  build:
    runs-on: ubuntu-latest
    name: Build mTower
    outputs:
      artifacts: ${{ steps.build.outputs.artifacts }}
      hashes: ${{ steps.hash.outputs.hashes }}
      version:  ${{ steps.mtower_version.outputs.version }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install extra tools
        run: |
          sudo apt-get update
          sudo apt-get install -y make build-essential libncurses5-dev libssl-dev libcurl4-openssl-dev
      - name: Build the project
        run: |
          make PLATFORM=numaker_pfm_m2351 create_context
          make toolchain
          make
          # Save the location of the mtower_*.bin output files for easier reference
          # ARTIFACT_PATTERN=./mtower_s.bin
          # echo "artifact_pattern=$ARTIFACT_PATTERN" >> "$GITHUB_OUTPUT"
          # echo "artifact_pattern=mtower_s.bin" >> "$GITHUB_OUTPUT"

      - name: Generate subject
        id: hash
        run: |
          echo "hashes=$(sha256sum mtower_s.bin mtower_ns.bin | base64 -w0)" >> "$GITHUB_OUTPUT"

      - name: Get mTower version
        id: mtower_version
        run: |
          echo "version=mtower" >> "$GITHUB_OUTPUT"

        # VERSION=${{ github.ref_name }}
        # echo "version=mtower-${VERSION:1}.bin" >> "$GITHUB_OUTPUT"

      - name: Upload build artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
        with:
          name: ${{ steps.mtower_version.outputs.version }}_s.bin
          path: ./${{ steps.mtower_version.outputs.version }}_s.bin
          if-no-files-found: error

      - name: Upload build artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
        with:
          name: ${{ steps.mtower_version.outputs.version }}_ns.bin
          path: ./${{ steps.mtower_version.outputs.version }}_ns.bin
          if-no-files-found: error

  # Create Release
  create-release:
    permissions:
      contents: write  # for marvinpinto/action-automatic-releases to generate pre-release
    needs: [build]
    name: Create Release
    runs-on: "ubuntu-latest"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f
        with:
          egress-policy: audit

      - uses: marvinpinto/action-automatic-releases@d68defdd11f9dcc7f52f35c1b7c236ee7513bcc1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          title: "mTower ${{ github.ref_name }}"

  # Generate Provenance
  provenance:
    needs: [build, create-release]
    name: Generate Provenance
    permissions:
      actions: read # To read the workflow path.
      id-token: write # To sign the provenance.
      contents: write # To add assets to a release.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.0.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: true # Optional: Upload to a new release

  # Upload Assets
  release:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release  
    needs: [build, create-release, provenance]
    name: Upload Assets
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f
        with:
          egress-policy: audit

      - name: Download ${{ needs.build.outputs.version }}_s.bin
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16
        with:
          name: ${{ needs.build.outputs.version }}_s.bin

      - name: Download ${{ needs.build.outputs.version }}_ns.bin
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16
        with:
          name: ${{ needs.build.outputs.version }}_ns.bin

      - name: Upload assets
        uses: softprops/action-gh-release@01570a1f39cb168c169c802c3bceb9e93fb10974
        with:
          files: |
            ${{ needs.build.outputs.version }}_s.bin
            ${{ needs.build.outputs.version }}_ns.bin
