name: Scancode
on: [push, pull_request]

permissions:
  contents: read

jobs:
  scancode:
    runs-on: ubuntu-latest

    container:
      image: gianlucadb0/scancode-toolkit

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Create results directory
        run: mkdir results

      - name: Scancode run
        run: scancode -clpeui -n 2 --cyclonedx ./results/sbom-cyclonedx --spdx-rdf ./results/sbom-spdx ./

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: scan-scancode-report
          path: ./results/

      - name: Artifact download
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093
        with:
          name: scan-scancode-report